html, body {
  margin: 0px;
  padding: 0px;
}

.layout-page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.layout-page-main {
  position: relative;
}

.layout-page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 200;
}
